@import "../styles/variables.scss";

.main_container {
	position: relative;
	background-color: $primary-color;
}

.grain {
	position: absolute;
	top: 0;
	background-color: $primary-color;
	opacity: 0;
	height: calc(100vh + 200px);
	width: 100%;
	z-index: 7;
}

.landing_content {
	position: relative;
	padding: 2rem 0;

	section {
		min-height: 100vh;
	}

	.white_line {
		width: 80%;
		height: 1px;
		background-color: #3637708a;
		margin: 0 auto;
	}

	.profile_section {
		padding: 8rem 0rem;

		.profile_part {
			flex: 1;

			.profile_image_container {
				background-image: url("../public/assets/images/onwards.webp");
				background-position: 50% 50%;
				background-size: 140%;
				width: 600px;
				height: 600px;
				box-shadow: $box-shadow;
				border-radius: 10px;
				overflow: hidden;
			}
		}
	}
}
