@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Besley:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;600;700&display=swap");
@import "../styles/variables.scss";
@import "~remixicon/fonts/remixicon.css";

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Light-webfont.woff")
		format("woff");
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Regular-webfont.woff")
		format("woff");
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Medium-webfont.woff")
		format("woff");
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-SemiBold-webfont.woff")
		format("woff");
	font-weight: 600; /* SemiBold */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Bold-webfont.woff")
		format("woff");
	font-weight: 700; /* Bold */
	font-style: normal;
}

*,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	color: #ffffff;
	text-decoration: none;
	list-style: none;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #111;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 
====================
  MODIFIER CLASSES
====================
*/

.flex,
.flex--center,
.flex--around,
.flex--column {
	display: flex;
	align-items: center;
}

.flex--center {
	justify-content: center;
}

.flex--around {
	justify-content: space-around;
}

.flex--column {
	flex-direction: column;
}

.gap-m {
	gap: 1rem;
}

.gap-l {
	gap: 2rem;
}

.gap-xl {
	gap: 4rem;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: 700;
}

.remix-icon {
	font-size: 1.8rem;
	opacity: 0.7;
	transition: 500ms;
	font-weight: initial;

	&:hover {
		opacity: 1;
	}
}

// KEYFRAMES

.fade-in-top {
	animation: fade-in-top 2s 3s ease-in forwards;
}

.fade-in-bottom {
	animation: fade-in-bottom 2s 3s ease-in forwards;
}

@keyframes fade-in-top {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fade-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

// SCROLLBAR

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 10px;
	width: 10px;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #ffffff0c;
}

*::-webkit-scrollbar-track:hover {
	background-color: #ffffff0c;
}

*::-webkit-scrollbar-track:active {
	background-color: #ffffff0c;
}

*::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: #fff;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #fff;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #fff;
}
