@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Besley:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;600;700&display=swap");
@import "../styles/variables.scss";
@import "~remixicon/fonts/remixicon.css";

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Light-webfont.woff")
		format("woff");
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Regular-webfont.woff")
		format("woff");
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Medium-webfont.woff")
		format("woff");
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-SemiBold-webfont.woff")
		format("woff");
	font-weight: 600; /* SemiBold */
	font-style: normal;
}

@font-face {
	font-family: "Cormorant";
	src: url("../public/assets/fonts/Cormorant/CormorantGaramond-Bold-webfont.woff")
		format("woff");
	font-weight: 700; /* Bold */
	font-style: normal;
}

*,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
	color: #ffffff;
	text-decoration: none;
	list-style: none;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #111;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

i {
	cursor: pointer;
}

/* 
====================
  MODIFIER CLASSES
====================
*/

.flex,
.flex--center,
.flex--around,
.flex--column {
	display: flex;
	align-items: center;
}

.flex--center {
	justify-content: center;
}

.flex--around {
	justify-content: space-around;
}

.flex--column {
	flex-direction: column;
}

.gap-m {
	gap: 1rem;
}

.gap-l {
	gap: 2rem;
}

.gap-xl {
	gap: 4rem;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: 700;
}

.remix-icon {
	font-size: 2rem;
	opacity: 0.7;
	transition: 500ms;
	font-weight: initial;

	&:hover {
		opacity: 1;
	}
}

.classic-button {
	background-color: $light-color-l2;
	color: #fff;
	font-weight: 700;
	border: 1px solid rgba(68, 68, 68, 0.411);
	border-radius: 0.5em;
	padding: 0.5em;
	font-size: 0.9rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.342);
	cursor: pointer;
}

.classic-button:hover,
.classic-button:focus {
	background-color: #fff;
	color: $light-color-l2;
}

.chat-icon {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: $light-color-l2;
	border-radius: 50%;
	padding: 0.8em;
	opacity: 0.4;
	z-index: 7;
	cursor: pointer;
}

.chat-icon:hover,
.chat-icon:focus {
	opacity: 1;
}

.chat-icon img {
	filter: invert(1);
	width: 25px;

	@media (width > 1024px) {
		width: 45px;
	}
}

// KEYFRAMES

.fade-in-top {
	animation: fade-in-top 2s 3s ease-in forwards;
}

.fade-in-bottom {
	animation: fade-in-bottom 2s 3s ease-in forwards;
}

@keyframes fade-in-top {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fade-in-bottom {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* 
====================
  ANIMATION CLASSES
====================
*/

.slide-in-bottom {
	animation: slide-in-bottom 1.8s ease-in-out forwards;
}

.slide-in-top {
	animation: slide-in-top 1.3s ease-in-out forwards;
}

.float {
	animation: float 4s ease-in-out infinite;
}

.slide-in-left {
	animation: slide-in-left 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
	animation: slide-in-right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tilt-in-right-1 {
	-webkit-animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s
		cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.bounce-out-right {
	-webkit-animation: bounce-out-right 1.5s both;
	animation: bounce-out-right 1.5s both;
}

/* 
  ====================
	KEYFRAMES
  ====================
  */

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes tilt-in-right-1 {
	0% {
		-webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
		transform: rotateX(-30deg) translateX(300px) skewX(30deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
		transform: rotateX(0deg) translateX(0) skewX(0deg);
		opacity: 1;
	}
}

@keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
}

@keyframes bounce-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	5% {
		-webkit-transform: translateX(30px);
		transform: translateX(30px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	15% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	25% {
		-webkit-transform: translateX(38px);
		transform: translateX(38px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	38% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	52% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	65% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	85% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
}
