$primary-color: #13133a;
$secondary-color: #df9397;
$shadow-color: #111025;
$box-shadow: 1px 2px 15px 0px #0000008a;
$text-shadow: 0 5px 16px rgba($shadow-color, 0.89);
$main-font: "Poppins", sans-serif;
$secondary-font: "Playfair Display", serif;
$third-font: "Cormorant", serif;
